<p id="notice"><%= notice %></p>

<%= image_tag(@portfolio.image, size: '1120v400') %>

<p>
  <strong>Name:</strong>
  <%= @portfolio.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @portfolio.description %>
</p>

<p>
  <strong>Main image:</strong>
  <%= @portfolio.main_image %>
</p>

<p>
  <strong>Thumb image:</strong>
  <%= @portfolio.thumb_image %>
</p>

<p>
  <strong>Url:</strong>
  <%= @portfolio.url %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
